.rect {
  position: fixed;
  bottom: 0;
  /* left: 0; */
  width: 90%;
  height: 80px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
  margin-bottom: 0.5rem;
  margin-left: 1.5rem;
  
}

.rect .nav-link {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.rect .nav-link::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity));
  top: 0;
  left: 0;
  transform: rotate(-45deg) translateX(50px) translateY(-80px);
  border-bottom-left-radius: 10px;
  transition: transform 0.2s;
}

.rect .active.nav-link::before {
  transform: rotate(-45deg) translateX(38.35px) translateY(-50px);
}

/* Only apply styles for screens 480px or less */
@media (min-width: 481px) {
  .rect {
    display: none !important;
  }
}
